.view > * {
	animation: animate-view 0.5s;
}

@keyframes animate-view {
	from {
		transform: translateX(-100%);
	}
}

.animate-loading {
	animation: animate-loading 2s both;
}

@keyframes animate-loading {
	0% {
		opacity: 100%;
	}
	90% {
		opacity: 100%;
	}
	100% {
		opacity: 0;
	}
}
